{{#if (eq state "home")}}
  <h1>STAND-UP</h1>
  <a href="#" {{action "goToNextSlide"}} class="start-button">COMMENCER</a>
{{else}}
  {{timed-slide
    title=title
    subtitle=subtitle
    formattedElapsedMinutes=formattedElapsedMinutes
    formattedElapsedSeconds=formattedElapsedSeconds
    isEndingSoon=isEndingSoon
    goToNextSlide=(action "goToNextSlide")
    nextSlideName=nextSlideName}}
{{/if}}
