* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  user-select: none;
}

h1 {
  font-size: 15vh;
  margin-top: 15vh;
  padding: 0;
}

h2 {
  font-size: 11vh;
  margin-top: 5vh;
}

h3 {
  font-size: 7vh;
  color: rgba(0, 0, 0, 0.8);
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5vh;
  cursor: pointer;
}

.start-button {
  font-size: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border: 1.5vh solid black;
  border-radius: 100vh;
  font-weight: bold;
  color: black;
  text-decoration: none;
  position: fixed;
  bottom: 15vh;
  width: 80vh;
  left: calc(50% - (80vh / 2));
}

.start-button:hover {
  background-color: black;
  color: white;
}

.elapsed-time {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 10vh;
  left: 10vh;
  width: 50vh;
  height: 17vh;
  font-size: 14vh;
  line-height: 17vh;
  text-align: center;
  border-radius: 2vh;
}

.next-slide {
  color: black;
  position: fixed;
  bottom: 10vh;
  right: 10vh;
  width: calc(100% - (50vh + (2 * 10vh) + 10vh));
  height: 17vh;
  font-size: 8vh;
  line-height: 17vh;
  text-align: left;
  padding-left: 5vh;
  padding-right: 5vh;
  border: solid 1vh black;
  border-radius: 2vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elapsed-time.ending-soon {
  background-color: #BB0000;
}
