# See https://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/wss/_build
/wss/*.ez

# dependencies
/node_modules
/bower_components
/wss/deps

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
erl_crash.dump
